<div class="container">

  <div class="text-center">
    <%= link_to @menu.restaurants.first do %>
      <%= image_tag @menu.restaurants.first.avatar.url(:medium) %>
    <% end %>
    <h3><%= @menu.name %></h3>
    <hr>
    <% @categories.each do |category| %>
      <%= link_to category.name, category %> |
    <% end %>
    <strong><%= link_to "All", @category.menu %></strong>
  </div>
  <hr>
  <div class="container">
    <% @dishes.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |dish| %>
        <div class="col-md-3 text-center">
          <%= link_to dish do %>
            <%= dish.name %> <br>
            <%= image_tag dish.avatar.url(:medium) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>


  <% if current_user %>
    <% if current_user.admin || current_user.restaurant_id == @menu.restaurants.first.id %>
    <hr>
      <div class="container">
        <div class="text-center">
          <h3> Administrator Panel </h3>
          <hr>
          <%= link_to "Edit Menu Details (#{@menu.name})", edit_menu_path(@menu) %>
          <hr>
          <p>
            <strong>New Menu:</strong>
          </p>
          <%= render 'menus/form' %> 
        </div>
      </div>
    <% end %>
  <% end %>

</div>