<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Restaurant:</strong>
        <%= @menu.restaurants.first.name %>
      </p>

      <p>
        <strong>Display name:</strong>
        <%= @menu.display_name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @menu.description %>
      </p>

      <%= link_to 'Edit', edit_menu_path(@menu) %> |
      <%= link_to 'Back', menus_path %>
    </div>

    <div class="col-md-6">
      <h4> Add a new category </h4>
      <%= render 'categories/form' %>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="text-center">
    <h4> Exsisting Categories </h4>
    <% @categories.each do |category| %>
      <%= category.name %>
      <%= link_to 'Show', category %>
    <% end %>
  </div>
</div>



