<div class="container">

  <div class="text-center">
    <%= link_to @menu.restaurant do %>
      <%= image_tag @menu.restaurant.avatar.url(:medium) %>
    <% end %>
    <h3><%= @menu.name %></h3>
    <hr>
    <% @categories.each do |category| %>
      <%= link_to category.name, category %> |
    <% end %>
    <% #XXX: Is the title of this link correct? %>
    <strong><%= link_to "All", @category.menu %></strong>
  </div>
  <hr>
  <div class="container">
    <% @dishes.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |dish| %>
        <div class="col-md-3 text-center">
          <%= link_to dish do %>
            <%= dish.name %> <br>
            <%- if dish.default_image %>
              <%= image_tag dish.default_image.avatar.url(:medium) %>
            <%- end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
