<div class="container col-xs-12">

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @menu.display_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurants.first.name %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

</div>

<h3> View Dishes </h3>
<% @dishes.each do |dish| %>
  <%= dish.name %>
<% end %>
<hr>

<h6> Add a new dish </h6>
<%= render 'dishes/form' %>


