<div class="container col-xs-12">
<h1>Listing cuisines</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuisines.each do |cuisine| %>
      <tr>
        <td><%= cuisine.genre %></td>
        <td><%= link_to 'Show', cuisine %></td>
        <td><%= link_to 'Edit', edit_cuisine_path(cuisine) %></td>
        <td><%= link_to 'Destroy', cuisine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuisine', new_cuisine_path %>
</div>
