
<!DOCTYPE html>

<html>
<head>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet'>

<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

<link rel="icon" href="img/favicon.ico" type="image/x-icon">

<link href="assets/app_store/plugins.min.css" rel="stylesheet">

<link href="assets/app_store/main.css" rel="stylesheet">

</head>
<body>

<section class="tzheader-background">
  <%= image_tag 'about.jpg' %>
</section><!--end class tzheader-->
<section class="tz-about4 theme-white tz-about4-padding">
  <h3 class="tz-title-bold-3">
    THE MISSION
  </h3>
  <div class="container top-padding">
    <div class="row">
      <div>
        <ul class="tz-collection collection-about tz-collection2 no-padding">
          <li>
            <figure class="item-collection">
              <figcaption>
                <p style="font-size: 30px; text-align: center; vertical-align: middle; text-align: justify;">
                  Meme • Menu is a celebration of independent restaurants that serve local, handcrafted food. 
                  We believe that a photograph does more to communicate a Chef’s vision than words on a printed page.  
                  We are fans, not critics.  We don’t rate restaurants or display user reviews. 
                  We take great pictures of great food and invite you to discover something you’ll love.
                </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div><!--end class row-->
  </div><!--end class container-->
</section><!--end class tz-about-->



<!-- Start of team photos -->
<section class="tz-our-team theme-white">
  <h3 class="tz-title-bold-3"> BEHIND MEME • MENU </h3>
  <div class="container">
    <div class="row">
  <div class="squeeze-faces">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="tz-team-item">
          <div class="tz-team-overlay">
            <div class="tz-team-img">
              <%= image_tag 'pkbanks.png' %>
              <%= image_tag 'pkbanks.png', :class=>'img-hover' %>
              <div class="tz-team-overlay-bk"></div>
            </div>
          </div>
            <div class="tz-team-ds">
              <h6>PK Banks</h6>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="tz-team-item">
          <div class="tz-team-overlay">
            <div class="tz-team-img">
              <%= image_tag 'jesusbrazon.png' %>
              <%= image_tag 'jesusbrazon.png', :class=>'img-hover' %>
              <div class="tz-team-overlay-bk"></div>
            </div>
          </div>
            <div class="tz-team-ds">
              <h6>Jesus Brazon</h6>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="tz-team-item">
          <div class="tz-team-overlay">
            <div class="tz-team-img">
              <%= image_tag 'andyweiss.png' %>
              <%= image_tag 'andyweiss.png', :class=>'img-hover' %>
              <div class="tz-team-overlay-bk"></div>
            </div>
          </div>
            <div class="tz-team-ds">
              <h6>Andy Weiss</h6>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="tz-team-item">
          <div class="tz-team-overlay">
            <div class="tz-team-img">
              <%= image_tag 'alfonsopintos.png' %>
              <%= image_tag 'alfonsopintos.png', :class=>'img-hover' %>
              <div class="tz-team-overlay-bk"></div>
            </div>
          </div>
            <div class="tz-team-ds">
              <h6>Alfonso Pintos</h6>
            </div>
        </div>
      </div>            
</div>
    </div> <!-- end class row -->
  </div> <!-- end class container -->
</section> <!-- end class tz-our-team -->
<!-- End of team photos -->

<footer>
  <div class="tz-footer-content">
    <div class="container">
      <div class="row">

        <!-- Start of about -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              ABOUT
            </span>
          </h3>
          <div class="textwidget">
            To serve great restaurants, Chef, Staff and the House.
            To serve those who love them
            To provide an experience honest and visual.
            To celebrate Culinary Creativity and superlative quality.
            This is the the purpose of meme • menu.
          </div>
        </div>
        <!-- End of about -->

        <!-- Start of contact -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              CONTACT
            </span>
          </h3>
          <div class="tzwidget-contact">
             <address>
              331 NW 26th St. Unit 306
              <br> 
              Miami, FL 33127
            </address>
            <span>
              <a href="tel:1-305-979-6450" style="color:#dddddd;">+1 • 305 • 979 • 6450</a>
            </span>
            <a href="mailto:hello@meme.menu?Subject=Hello%20Meme" target="_top">hello@meme.menu</a>
          </div>
        </div>
        <!-- End of contact -->

        <!-- Start of follow us -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>FOLLOW US</span>
          </h3>
          <ul>
            <li>
              <div class="tz-recent-content">
                <a href="http://meme-menu.tumblr.com" target="_blank" class="followus">Tumblr</a>
                <span>
                  <!-- Jul 24, 2014 -->
                </span>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="https://twitter.com/_mememenu" target="_blank" class="followus">Twitter</a>
                <span>
                  <!-- Jul 24, 2014 -->
                </span>
              </div>
            </li>
            <li>
              <a href="http://meme-menu.tumblr.com" target="_blank" class="followus">
                <div class="tz-recent-content">
                  <a href="http://instagram.com/meme.menu" target="_blank" class="followus">Instagram</a>
                  <span>
                    <!--  Jul 24, 2014 -->
                  </span>
                </div>
            </li>
            <li>
              <a href="http://meme-menu.tumblr.com" target="_blank" class="followus">
                <div class="tz-recent-content">
                  <a href="https://www.facebook.com/pages/Meme-Menu/982919405067058" target="_blank" class="followus">Facebook</a>
                  <span>
                    <!-- Jul 24, 2014 -->
                  </span>
                </div>
            </li> 
          </ul>
        </div>        
        <!-- End of follow us -->

        <!-- Start of members of -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              PROUD MEMBER OF:
            </span>
          </h3>
          <%= link_to 'http://wyncode.co', target: '_blank' do %>
            <%= image_tag 'wyncode_logo.png' %>
          <% end %>
        </div>
        <!-- end of members of -->

      </div> <!-- end of row -->
    </div> <!-- end of class container -->
  </div> <!-- End of class tz-footer-content -->

  <div class="tz-copyright theme-white">
    <p>meme • menu • 2014 • All Rights Reserved.</p>
  </div>

</footer> <!-- End of footer -->

</body>
</html>