
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="">
        <%= image_tag "logo-nav@2x.png" %>
      </a> 
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="main" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;" id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <!--logo-->
        <div style="margin-top:-30px;" class="logo">
          <%= image_tag "logo.png"%>
        </div>
        <!--logo end-->

      </div>
      <div class="col-md-6">
        <!--social-->
        <div class="social text-center">
          <ul>
            <li><a href="https://twitter.com/_mememenu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/mememenu" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://instagram.com/meme.menu" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://meme-menu.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
        <!--social end-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">

        <!--welcome-message-->
        <header class="welcome-message">
          <h2><span></span>Download the App</h2>
          <!-- <h2>Launching Soon</h2> -->
        </header>
        <div class="action-btn">
          <a href="https://itunes.apple.com/us/app/meme-menu/id950092205?mt=8" target="_blank">
            <%= image_tag "badge.png", :class => 'appstore' %>
          </a>
        </div>

      </div>
      <div class="col-md-5"> 
        <%= image_tag "hero.png", :class => 'wow fadeInRight hero-img' %> 
      </div>
    </div>
  </div>
</section>

<!--main end-->

<!--Features-->

<section class="features section-spacing" id="features">
  <div class="container">
    <header class="text-center">
      <h2>Meme • Menu</h2>
      <h3>Features</h3>
    </header>

    <!--feature 1-->
    <div class="row">
      <div class="col-md-6 text-center"> 
        <%= image_tag "feature-1.png", :class => 'wow fadeInLeft' %> 
      </div>
      <div class="col-md-6">
        <article>
          <h4>FEED</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum eleifend arcu sit amet hendrerit. Etiam tempor ante ac ipsum finibus, at consectetur urna tristique. Nulla nec lacinia velit. </p>
        </article>
      </div>
    </div>
    <!--feature 1 end-->

    <!--feature 2-->
    <div class="row">
      <div class="col-md-6 col-md-push-6 text-center"> 
        <%= image_tag "feature-2.png", :class => 'wow fadeInRight' %> 
      </div>
      <div class="col-md-6 col-md-pull-6">
        <article>
          <h4>Multiple Cities</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum eleifend arcu sit amet hendrerit. Etiam tempor ante ac ipsum finibus, at consectetur urna tristique. Nulla nec lacinia velit. </p>
        </article>
      </div>
    </div>
    <!--feature 2 end-->

    <!--feature 3-->
    <div class="row">
      <div class="col-md-6 text-center"> 
        <%= image_tag "feature-3.png", :class => 'wow fadeInLeft' %> 
      </div>
      <div class="col-md-6">
        <article>
          <h4>Restaurants</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum eleifend arcu sit amet hendrerit. Etiam tempor ante ac ipsum finibus, at consectetur urna tristique. Nulla nec lacinia velit. </p>
        </article>
      </div>
    </div>
    <!--feature 3 end-->

  </div>
</section>



<!--CONTACT-->

<section class="contact section-spacing" id="contact">
  <div class="container">
    <header class="text-center">
      <h2>Contact Us</h2>
      <h3>Have any questions? send us a message</h3>
    </header>
    <div class="row">
      <div class="col-md-6 center-block">

        <!--contact form-->

        <div class="contact-form">
          <form role="form" action="php/contact-me.php" method="post" id="contact-form">
            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
            <textarea class="form-control" name="message" id="message" rows="4" placeholder="Enter Your Message" required></textarea>
            <button type="submit" class="btn btn-default submit-btn" id="submit-btn" value="Send">Submit</button>
          </form>
          <div class="success-cf">
            <p><i class="fa fa-envelope"></i> Thank You! Your message has been sent.</p>
          </div>
          <div class="error-cf">
            <p><i class="fa fa-exclamation-triangle"></i> Something went wrong, try refreshing and submitting the form again.</p>
          </div>
        </div>

        <!--contact form end-->

      </div>
    </div>
  </div>
</section>

<!--CONTACT END-->

<!--site-footer-->
<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>

        <!--social-->

        <ul class="social">
          <li><a href="https://twitter.com/_mememenu" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/mememenu" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://instagram.com/meme.menu" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://meme-menu.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
        </ul>

        <!--social end-->

        <small>&copy; Copyright Meme • Menu. All Rights Reserved.</small>

      </div>
    </div>
  </div>
</footer>
<!--site-footer end-->

<!--PRELOAD-->
<div id="preloader">
  <div id="status"></div>
</div>
<!--end PRELOAD-->

