<section class="main" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;" id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <!--logo-->
        <div style="margin-top:-30px;" class="logo">
          <img src="../assets/logo.png" data-at2x="../assets/logo@2x.png" alt="logo">
        </div>
        <!--logo end-->

      </div>
      <div class="col-md-6">
        <!--social-->
        <div class="social text-center">
          <ul>
            <li><a href="https://twitter.com/_mememenu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/mememenu" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://instagram.com/meme.menu" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://meme-menu.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
        <!--social end-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">

        <!--welcome-message-->
        <header class="welcome-message">
          <h2><span></span>Download the App</h2>
          <!-- <h2>Launching Soon</h2> -->
        </header>
        <div class="action-btn">
          <a href="https://itunes.apple.com/us/app/meme-menu/id950092205?mt=8" target="_blank">
            <%= image_tag "badge.png", :class => 'appstore', :"data-no-retina" => true %>
          </a>
        </div>

      </div>
      <div class="col-md-5">
        <%= image_tag "hero.png", :class => 'wow fadeInRight hero-img', :"data-no-retina" => true %>
      </div>
    </div>
  </div>
</section>

<!--main end-->

<!--Features-->

<section class="features section-spacing" id="features">
  <div class="container">
    <header class="text-center">
      <h2>Meme • Menu</h2>
      <h3>Features</h3>
    </header>

    <!--feature 1-->
    <div class="row">
      <div class="col-md-6 text-center"> 
        <%= image_tag "feature-1.png", :class => 'wow fadeInLeft', :"data-no-retina" => true %>
      </div>
      <div class="col-md-6">
        <article>
          <h4>FEED</h4>
          <p>See something you like and get more info about the dish, the menu, and the restaurant. Scroll to discover delicious food at our member restaurants. </p>
        </article>
      </div>
    </div>
    <!--feature 1 end-->

    <!--feature 2-->
    <div class="row">
      <div class="col-md-6 col-md-push-6 text-center"> 
        <%= image_tag "feature-2.png", :class => 'wow fadeInRight', :"data-no-retina" => true %>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <article>
          <h4>Multiple Cities</h4>
          <p>A thriving culinary scene is driven by a community of creative chefs.  We focus on food destinations and work hard to find the best chef-driven restaurants.  We are excited to share what we love in Austin, Brooklyn, Miami, and New Orleans, with plans to add more cities in the future. </p>
        </article>
      </div>
    </div>
    <!--feature 2 end-->

    <!--feature 3-->
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag "feature-3.png", :class => 'wow fadeInLeft', :"data-no-retina" => true  %>
      </div>
      <div class="col-md-6">
        <article>
          <h4>Restaurants</h4>
          <p>We are fans, not critics. We aspire to bring you great pictures of great food, and here we'll provide you with a visual experience of restaurants we love. </p>
        </article>
      </div>
    </div>
    <!--feature 3 end-->

  </div>
</section>



<!--CONTACT-->

<section class="contact section-spacing" id="contact">
  <div class="container">
    <header class="text-center">
      <h2>Contact Us</h2>
      <h3>Have any questions? send us a message</h3>
    </header>
    <div class="row">
      <div class="col-md-6 center-block">
        <div class="contact-form">
          <%= render 'contacts/appstore_form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!--CONTACT END-->

<!--site-footer-->
<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>

        <!--social-->

        <ul class="social">
          <li><a href="https://twitter.com/_mememenu" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/mememenu" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://instagram.com/meme.menu" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://meme-menu.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
        </ul>

        <!--social end-->

        <small>&copy; Copyright Meme • Menu. All Rights Reserved.</small>

      </div>
    </div>
  </div>
</footer>
<!--site-footer end-->

<!--PRELOAD-->
<div id="preloader">
  <div id="status"></div>
</div>
<!--end PRELOAD-->
