<!-- Image Slider -->
<div class="tzslider">
  <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
    <div id="rev_slider_2_1" class="rev_slider fullscreenbanner">
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <img src="/assets/background-1.jpg"  alt="slider"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/assets/background-2.jpg"  alt="slider"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/assets/background-3.jpg"  alt="slider4"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/assets/background-4.jpg"  alt="slider3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div> <!-- end of class full screen banner -->
  </div> <!-- end of class rev_slider_wrapper -->
</div><!--end class tzslider-->
<!-- End of image slider -->

<!-- start of Our Standards -->
<section class="tz-about tz-about2 theme-white">
  <div class="container">
    <div class="tz-title-bold-3">
      <hr>
      <p>Our Standards</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 colg-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-eye"></i>
          <div class="tz-about-bk">
            <img src="http://33.media.tumblr.com/6f8d2ec8ba44c74731c3b4be27f2e0ce/tumblr_ndnd8s8bdf1u1tc27o1_1280.jpg" alt="Visual">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; Visual &#8212;</h6>
            <p>Vision is integral to appetite.  We provide great pictures of great food.</p>
          </div>
        </div>
      </div> <!-- end of column -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-cutlery"></i>
          <div class="tz-about-bk">
            <img src="http://scontent-b-sjc.cdninstagram.com/hphotos-xfa1/t51.2885-15/10693382_543729765770818_355298433_n.jpg" alt="Food">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; Food &#8212;</h6>
            <p>We showcase unique dishes handcrafted with quality ingredients.</p>
          </div>
        </div>
      </div> <!-- end of column -->
      <div class="col-lg-4 colg-md-4 col-sm-12 col-xs-12">
        <div class="tz-about-item">
          <i class="fa fa-thumb-tack"></i>
          <div class="tz-about-bk">
            <img src="http://photos-h.ak.instagram.com/hphotos-ak-xaf1/10691796_543577862454279_1581245894_n.jpg" alt="Local">
            <div class="tz-about-overlay">
              <div class="tz-about-overlay-bk"></div>
            </div>
          </div>
          <div class="tz-about-ds">
            <h6>&#8212; House &#8212;</h6>
            <p>We celebrate local restaurants that execute a purity of vision.</p>
          </div>
        </div>
      </div> <!-- end of column -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</section><!--end of Our Standards. class:tz-about-->

<!-- start of parallax -->
<div class="parallax tz-simple">
  <button class="simple_prev"><i class="fa fa-angle-left"></i></button>
  <button class="simple_next"><i class="fa fa-angle-right "></i></button>
  <div class="container">
    <ul class="tz-simple-product">
      <% @restaurants.each do |restaurant| %>
      <li><p><%= restaurant.name %></p>
        <%= link_to 'Menu', restaurant %>
      </li>
      <% end %>
    </ul>
  </div>
</div><!--end class parallax-->

<!-- start of We Are Inspired By: -->
<section class="tz-why-choose theme-gray">
  <div class="tz-choose-content tz-choose-content2">
    <div class="container">

      <div class="tz-title-bold-3">
        <hr><p>We are inspired by</p><hr>
      </div>

      <!-- Start of left column -->
      <div class="row">
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection collection-left tz-collection2">
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-cutlery"></i>
                </span>
                <figcaption>
                  <h3>Serving Chefs</h3>
                  <p>We communicate a representation of the chef's creation, as the chef intended.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-home"></i>
                </span>
                <figcaption>
                  <h3>Serving The House</h3>
                  <p>We facilitate interactions between the service staff and customers.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-group"></i>
                </span>
                <figcaption>
                  <h3>Serving Diners</h3>
                  <p>We improve the accessibility of menu items through images.</p>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div> <!-- end of left column -->

        <!-- Meme Menu Logo -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <%= image_tag '1.jpg', width: '100%' %>
        </div>

        <!-- start of right side column -->
        <div class="col-lg-4 colg-md-4 col-sm-4 col-xs-12">
          <ul class="tz-collection tz-collection2">
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-angellist"></i>
                </span>
                <figcaption>
                  <h3>Original Dishes</h3>
                  <p>We seek the joyful moments born from discovering new food.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-group"></i>
                </span>
                <figcaption>
                  <h3>Fresh Ingredients</h3>
                  <p>Authentic flavors of food we love originate from quality ingredients.</p>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="item-collection">
                <span class="tzcollection-icon">
                  <i class="fa fa-book"></i>
                </span>
                <figcaption>
                  <h3>Seasonal Menus</h3>
                  <p>We support chefs who adapt their menus to change with the seasons.</p>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div> <!-- end of right side column -->
      </div><!--end of row-->
    </div><!--end of container-->
  </div> <!-- end of tz-choose-content -->
</section> <!-- end of class tz-why-choose theme-gray -->
<!-- end of We are Inspired by section -->

<!-- start of Footer -->
<footer>
  <div class="tz-footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              ABOUT
            </span>
          </h3>
          <div class="textwidget">
            To serve great restaurants, Chef, Staff and the House.
            To serve those who love them
            To provide an experience honest and visual.
            To celebrate Culinary Creativity and superlative quality.
            This is the the purpose of meme • menu.
          </div>
        </div> <!-- end of column -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              CONTACT
            </span>
          </h3>
          <div class="tzwidget-contact">
            <address>
              400 NW 26th St. Miami, FL 33127
            </address>
            <span>
              <a href="tel:1-305-979-6450" style="color:#dddddd;">+1 • 305 • 979 • 6450</a>
            </span>
            <a href="mailto:hello@meme.menu?Subject=Hello%20Meme" target="_top">hello@meme.menu</a>
          </div>
        </div> <!-- end of column -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>FOLLOW US</span>
          </h3>
          <ul>
            <li>
              <div class="tz-recent-content">
                <a href="http://meme-menu.tumblr.com" target="_blank" class="followus">Tumblr</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="https://twitter.com/_mememenu" target="_blank" class="followus">Twitter</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="http://instagram.com/meme.menu" target="_blank" class="followus">Instagram</a>
              </div>
            </li>
            <li>
              <div class="tz-recent-content">
                <a href="https://www.facebook.com/pages/Meme-Menu/982919405067058" target="_blank" class="followus">Facebook</a>
              </div>
            </li>
          </ul>
        </div> <!-- end of column -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-item">
          <h3 class="module-title">
            <span>
              PROUD MEMBER OF:
            </span>
          </h3>
          <%= link_to 'http://wyncode.co', target: '_blank' do %>
          <%= image_tag 'wyncode_logo.png' %>
          <% end %>
          <br><br>
          <%= link_to 'http://thelabmiami.com', target: '_blank' do %>
          <%= image_tag 'thelab_logo.png' %>
          <% end %>
        </div> <!-- end of column -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of tz-footer-content -->
  <div class="tz-copyright theme-white">
    <p>meme • menu • 2014 • All Rights Reserved.</p>
  </div>
</footer>
<!-- end of footer-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#rev_slider_2_1').show().revolution(
        {
            dottedOverlay:"none",
            delay:4000,
            startwidth:960,
            startheight:350,
            hideThumbs:200,

            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:4,

            navigationType:"none",
            navigationArrows:"solo",
            navigationStyle:"round",

            touchenabled:"on",
            onHoverStop:"on",

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,


            keyboardNavigation:"off",

            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:20,

            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:0,

            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:0,

            shadow:0,
            fullWidth:"off",
            fullScreen:"on",

            spinner:"spinner0",

            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,

            shuffle:"off",


            forceFullWidth:"off",
            fullScreenAlignForce:"off",
            minFullScreenHeight:"",
            hideTimerBar:"on",
            hideThumbsOnMobile:"off",
            hideNavDelayOnMobile:1500,
            hideBulletsOnMobile:"off",
            hideArrowsOnMobile:"off",
            hideThumbsUnderResolution:0,

            fullScreenOffsetContainer: "",
            fullScreenOffset: "",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0
        });
}); /*ready*/

var Desktop           =   4,
tabletportrait    =   2,
mobilelandscape   =   2,
mobileportrait    =   1,
resizeTimer       =   null;

jQuery(window).load(function(){
    jQuery('div.slotholder').prepend('<div class="bk-responsive-slide"></div>');
});
</script>
