<h1>Listing dish_ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Dish</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dish_ingredients.each do |dish_ingredient| %>
      <tr>
        <td><%= dish_ingredient.dish %></td>
        <td><%= dish_ingredient.ingredient %></td>
        <td><%= link_to 'Show', dish_ingredient %></td>
        <td><%= link_to 'Edit', edit_dish_ingredient_path(dish_ingredient) %></td>
        <td><%= link_to 'Destroy', dish_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish ingredient', new_dish_ingredient_path %>
