<h1>A New Contact Submission has been created</h1>
<h5> Below is the information </h5>

<p> <strong>Name:</strong> <%= @contact.first_name %> <%= @contact.last_name %> </p>

<p> <strong>Email:</strong> <%= @contact.email %> </p>

<p> <strong>Favorite Restaurant:</strong> <%= @contact.favorite_restaurant %> </p>

<p> <strong>Message:</strong> <%= @contact.message %> </p>

