<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @dish_category.category %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @dish_category.dish %>
</p>

<%= link_to 'Edit', edit_dish_category_path(@dish_category) %> |
<%= link_to 'Back', dish_categories_path %>
