<%= form_for @dish, :html => { :multipart => true } do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :portion_size %><br>
    <%= f.select :portion_size, ['Small','Medium','Full'] %>
  </div>
  <div class="field">
    <%= f.label :spice %><br>
    <%= f.select :spice, [0,1,2,3,4]%>
  </div>
  <div class="field">
    <%= f.label :hot %><br>
    <%= f.check_box :hot %>
  </div>
  <div class="field">
    <%= f.label :gluten_free %><br>
    <%= f.check_box :gluten_free %>
  </div>
  <div class="field">
    <%= f.label :vegetarian %><br>
    <%= f.check_box :vegetarian %>
  </div>
  <div class="field">
    <%= f.label :hide %><br>
    <%= f.check_box :hide %>
  </div>

  <div class="field">
  <!-- Drop Down menu for menus -->
  <%= f.label :menu_id %><br>
  <%= f.select :menu_id, options_for_select(restaurant_menu_options)%>
  </div><br>

  <div class="field">
    <!-- Drop Down menu for categories -->
    <%= f.label :category_id %><br>
    <%= f.grouped_collection_select :category_id, @menus.order(:name), :categories, :name, :id, :name %>
  </div><br>

  <div class="field">
    <%= f.text_field :restaurant_id, value: @restaurant.id%>
  </div>


  <hr>
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
          <%= f.label :avatar %><br>
          <%= f.file_field :avatar %>
      </div>
    </div>
  </div>
  <hr>
  
  <%= f.label :ingredients %><br>
  <%= f.fields_for :ingredients do |builder| %>
    <%= render 'ingredient_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Ingredient", f, :ingredients %> 

  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
