<%= form_for @dish, :html => { :multipart => true } do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>
      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.check_box :hide %>
        <%= f.label :hide %>
      </div>
      <div class="field">
      <!-- Drop Down menu for menus -->
      <%= f.label :menu_id %><br>
      <%= f.select :menu_id, options_for_select(restaurant_menu_options)%>
      </div><br>
      <div class="field">
        <!-- Drop Down menu for categories -->
        <%= f.label :category_id %><br>
        <%= f.grouped_collection_select :category_id, @menus.order(:name), :categories, :name, :id, :name %>
      </div><br>
      <div class="field">
        <%= f.hidden_field :restaurant_id, value: @restaurant.id%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field">
        <%= f.label "Add an Image" %><br>
        <%= f.file_field :avatar %>
      </div>
    </div>
  
    <div class="col-md-4">  
      <%= f.label :ingredients %><br>
      <%= f.fields_for :ingredients do |builder| %>
        <%= render 'dishes/ingredient_fields', f: builder %>
      <% end %>
      <hr>
      <%= link_to_add_fields "Add New Ingredient", f, :ingredients %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>

</div>



<% end %>
