<%= form_for @dish, :html => { :multipart => true } do |f| %>
  <% if @dish.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>
    <ul>
      <% @dish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> <% @dish.restaurant_id ? "Editing" : "New" %> Dish </h3>
    </div>
    <div class="panel-body">

      <!-- start of dish name row -->
      <div class="row">
        <div class="field col-md-12">
          <%= f.label :name, 'Dish Name' %><br>
          <%= f.text_field :name, :class=>'form-control' %>
        </div>
      </div> <!-- end of dish name row -->
      <br>
      <!-- start of description row -->
      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
        </div>
      </div> <!-- end of description row -->
      <br>
      <!-- start of menu, category and hide row -->
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <!-- Dropdown for menus -->
            <%= f.label :menu_id %><br>
            <%= f.select :menu_id, options_for_select(restaurant_menu_options, default_menu_from_dish_edit)%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <!-- Dropdown for categories -->
            <%= f.label :category_id %><br>
            <%= f.grouped_collection_select :category_id, @menus.order(:name), :categories, :name, :id, :name %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <%= f.label :hide, "Hide Dish"%><br>
            <%= f.check_box :hide%>
          </div>
        </div>
      </div> <!-- end of menu, category and hide row -->
      <br>
      <!-- start of avatar row -->
      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <%= f.label "Default Image" %><br>
            <%= image_tag f.object.avatar.url(:thumb) %>
            <%= f.file_field :avatar %>
          </div>
        </div>
      </div> <!-- end of avatar row -->
      <% if @dish.avatar.exists? %>
        <br>
        <label>Additional images</label>
        <% @dish.images.in_groups_of(3, false) do |images| %>
          <div class="row col-md-12 text-center">
            <%= f.fields_for :images, images do |builder| %>
              <div class='avatar col-md-4 well text-center'>
                <%= image_tag builder.object.avatar.url(:thumb) %>
                <%= render 'dishes/image_fields', f: builder %>
              </div>
            <% end %>
          </div>
        <% end %>
        <br>
        <div class='row col-md-12'>
        </div>
        <%= link_to_add_fields 'Add Image', f, :images %>
      <% end %>
      <br>
      <!-- start of submit row -->
      <div class="row">
        <div class="actions col-md-12 text-center">
          <%= f.submit 'Submit', class: 'btn btn-primary btn-xs' %>
        </div>
      </div> <!-- end of submit row -->

    </div> <!-- end of class: panel-body -->
  </div> <!-- end of class: panel panel-default -->

  <div class="field">
    <%= f.hidden_field :restaurant_id, value: @restaurant.id%>
  </div>

<% end %>




