<h1>Listing dishes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Portion size</th>
      <th>Spice</th>
      <th>Hot</th>
      <th>Gluten free</th>
      <th>Vegetarian</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.category.name %></td>
        <td><%= dish.portion_size %></td>
        <td><%= dish.spice %></td>
        <td><%= dish.hot %></td>
        <td><%= dish.gluten_free %></td>
        <td><%= dish.vegetarian %></td>
        <td><%= link_to 'Show', dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
        <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish', new_dish_path %>
