<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="text-center">
        <p> <%= @dish.name %> </p>

        <p> <%= @dish.description %> </p>

        <p>
          <strong>Size:</strong> <%= @dish.portion_size %>
        </p>

        <p>
          <strong>Spice:</strong>
          <%= @dish.spice %>/5
        </p>

        <p>
          <% if @dish.hot %>
            <strong>Served Hot</strong>
          <% else %>
            <strong>Served Cold</strong>
          <% end %>
        </p>

        <p>
          <% if @dish.gluten_free %>
            <strong>Gluten Free</strong>
          <% end %>
        </p>

        <p>
          <% if @dish.vegetarian %>
            <strong>Vegetarian Dish</strong>
          <% end %>
        </p>

        <p>
          <strong>Ingredients:</strong>
          <% @dish.ingredients.each do |ingredient| %>
            <%= ingredient.name %>
          <% end %>
        </p>        

        <%= link_to 'Back to Menu', @dish.category %>
      </div>
    </div>

    <div class="col-md-6">
      <%= image_tag @dish.avatar.url(:medium) %>
      <% @images.each do |image| %>
        <%= image_tag image.avatar.url(:medium) %>
      <% end %>
    </div>

  </div>
</div>


<% if current_user %>
  <% if current_user.admin || current_user.restaurant_id == @dish.category.menu.restaurants.first.id%>
  <hr>
    <div class="container">
      <div class="text-center">
        <h3> Administrator Panel </h3>
        <hr>
        <%= link_to 'Edit Dish Details', edit_dish_path(@dish) %>
        <hr>
        <h3> Dish Images </h3>
          <% @images.each do |image| %>
            <%= image_tag image.avatar.url(:thumb) %>
            <%= link_to 'Edit Image', edit_image_path(image) %>
          <% end %>
        <hr>
        <h5> Add Additional Images </h5><br>
        <div class="col-md-2 col-md-offset-5"><%= render 'images/form' %></div>
      </div>
    </div>
  <% end %>
<% end %>
