<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <p>
          <strong>Name:</strong>
          <%= @dish.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @dish.description %>
        </p>

        <p>
          <strong>Portion size:</strong>
          <%= @dish.portion_size %>
        </p>

        <p>
          <strong>Spice:</strong>
          <%= @dish.spice %>
        </p>

        <p>
          <strong>Hot:</strong>
          <%= @dish.hot %>
        </p>

        <p>
          <strong>Gluten free:</strong>
          <%= @dish.gluten_free %>
        </p>

        <p>
          <strong>Vegetarian:</strong>
          <%= @dish.vegetarian %>
        </p>

        <p>
          <strong>Menu:</strong>
          <%= @dish.category.menu.name %>
        </p>
        <%= link_to 'Edit', edit_dish_path(@dish) %> |
        <%= link_to 'Back to Menu', @dish.category %>
        <hr>
        <div class="col-md-6 col-md-offset-3">
          <h3> Add Additional Images </h3>
          <%= render 'images/form' %>      
        </div>
    </div>
    </div>

    <div class="col-md-6">
      <%= image_tag @dish.avatar.url(:medium) %>
      <% @images.each do |image| %>
        <%= image_tag image.avatar.url(:medium) %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

</div>
