<div class="container col-xs-12">

<h1>Listing restaurants</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zone</th>
      <th>Foursquare ID</th>
      <th>Delivers</th>
      <th># of Menus</th>
      <th># of Dishes</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.zone.downcase %></td>
        <td><%= restaurant.foursquare_id %></td>
        <td><%= restaurant.delivery_url ? "Yes" : "No" %></td>
        <td><%= restaurant.menus.count %></td>
        <td><%= restaurant.dishes.count %></td>
        <td><%= restaurant.hide ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>

</div>
