<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="text-center">

        <%= link_to @restaurant do %>
          <%= image_tag @restaurant.avatar.url(:large) %>
        <% end %>

      </div> 
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <h2> <%= @restaurant.name %> </h2>

        <h4> <%= @restaurant.address_1 %> </h4>

        <h4> <%= @restaurant.address_2 %> </h4>

        <h4>
          <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %>
        </h4>

        <h4> <%= number_to_phone(@restaurant.phone, area_code: true) %> </h4>
        
        <%if @restaurant.reservations %>
          <h5> <em>Accepts Reservations</em> </h5>
        <% else %>
          <p> <em>Reservations Not Accepted</em> </p>
        <% end %>

        <p>
          <!-- Displays restaurant.dollars in green and remaining dollars out of 4 in grey -->
          <span style="color:green"><strong><%=dollars%></strong></span><%(4 - @restaurant.dollars).times do%><span style="color:grey">$</span><% end %>
        </p>
        
        <p>
          <%= @restaurant.description %>
        </p>

        <!-- method found in restaurant helper -->
        <p> 
          <%= comma_separated_cuisines %>
        </p>

      </div>
    </div>

  </div>
</div>
<hr>

<div class="text-center">
  <% if @restaurant.menus.exists? %>
    <% @restaurant.menus[0...-1].each do |menu| %>
      <%= link_to menu.name, menu %> |
    <% end %>
    <%= link_to @restaurant.menus.last.name, @restaurant.menus.last %>
  <% end %>
</div>

<hr>
<div class="container">
  <% @dishes.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |dish| %>
      <div class="col-md-3 text-center">
        <%= link_to dish do %>
          <%= dish.name %> <br>
          <%= image_tag dish.avatar.url(:medium) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.admin || current_user.restaurant_id == @restaurant.id%>
  <hr>
    <div class="container">
      <div class="text-center">
        <h3> Administrator Panel </h3>
        <hr>
        <p>
          <strong>New Menu:</strong>
        </p>
        <%= render 'menus/form' %> 
        <hr>
        <p>
          <%= link_to 'Edit Restaurant Details', edit_restaurant_path(@restaurant) %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>







