<!-- restaurant info and menus -->
<section class="tzportfolio-wrap">
  <div class="container">
    <h2 class="title-restaurant"><%= @restaurant.name.upcase %></h2>
    <h3 class="location-restaurant"><%= @restaurant.city.upcase %></h3>
    <hr>
    <div class="info-restaurant">
      <%= @restaurant.address_1 %><br>
      <% unless @restaurant.address_2.empty? %>
      <%= @restaurant.address_2 %><br>
      <% end %>
      <%= @restaurant.city %><br>
      <%= number_to_phone(@restaurant.phone, area_code: true) %>
    </div>
    <hr>
    <div class="menu-options">
      <% @restaurant.menus[0...-1].each do |menu| %>
      <%= menu.name.upcase + ' •' %>
      <% end %>
      <%= @restaurant.menus.last.name.upcase %>
    </div>
  </div>

  <div class="tzportfolio-pages tz-no-mansory">

    <% @dishes.reverse.each do |dish| %>

      <div class="element">
        <div class="tz-inner">
          <div class="tz-image-item">
            <%= link_to dish do %>
            <%= image_tag dish.avatar.url(:large) %>
          </div>
          <h6 class="dish-name"><%= dish.name.upcase %></h6>
          <% end %>
        </div>
    </div>

    <% end %>
  </div>

</section><!--end class tzportfolio-wrap-->







<% if current_user %>
  <% if current_user.admin || current_user.restaurant_id == @restaurant.id%>
  <hr>
    <div class="container">
      <div class="text-center">
        <h3> Administrator Panel </h3>
        <hr>
        <p>
          <strong>New Menu:</strong>
        </p>
        <%= render 'menus/form' %> 
        <hr>
        <p>
          <%= link_to 'Edit Restaurant Details', edit_restaurant_path(@restaurant) %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>







