<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="text-center">
        <p>
          <%= @restaurant.name %>
        </p>

        <p>
          <%= @restaurant.address_1 %>
        </p>

        <p>
          <%= @restaurant.address_2 %>
        </p>

        <p>
          <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %>
        </p>

        <p>
          <%= @restaurant.description %>
        </p>

        <p>
          <%= @restaurant.phone %>
        </p>

        <p>
          <strong>Cost:</strong>
          <%= @restaurant.dollars %>/5
        </p>

        <p>
          <strong>Takes Reservations:</strong>
          <%= @restaurant.reservations %>
        </p>

        <p>
          <strong>Cuisines:</strong>
          <% @restaurant.cuisines.each do |cuisine| %>
            <%=cuisine.genre%>
          <% end %> 
        </p>

        <%= link_to 'Back', '/' %>

      </div> 
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <p>
          <strong>Menus:</strong>
        </p>
        <% @restaurant.menus.each do |menu| %>
        <p><%= link_to menu.name, menu_path(menu) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <% @dishes.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |dish| %>
      <div class="col-md-3 text-center">
        <%= link_to dish do %>
          <%= dish.name %> <br>
          <%= image_tag dish.avatar.url(:medium) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.admin || current_user.restaurant_id == @restaurant.id%>
  <hr>
    <div class="container">
      <div class="text-center">
        <h3> Administrator Panel </h3>
        <hr>
        <p>
          <strong>New Menu:</strong>
        </p>
        <%= render 'menus/form' %> 
        <hr>
        <p>
          <%= link_to 'Edit Restaurant Details', edit_restaurant_path(@restaurant) %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>







