
<section class="tzportfolio-wrap">
  <div class="container">

    <!-- start of restaurant info -->
    <h2 class="title-restaurant"><%= @restaurant.name.upcase %></h2>
    <h3 class="location-restaurant"><%= @restaurant.city.upcase %></h3>
    <hr>
    <div class="info-restaurant">
      <%= @restaurant.address_1 %><br>
      <% unless @restaurant.address_2.empty? %>
      <%= @restaurant.address_2 %><br>
      <% end %>
      <%= @restaurant.city %><br>
      <%= number_to_phone(@restaurant.phone, area_code: true) %>
      <hr>
    </div> <!--   End of restaurant info -->


    <!-- start of Restaurant menus  -->
    <div class="menu-options">
      <% @active_menus[0...-1].each do |menu| %>
      <span id='<%=menu.clean_name%>'><a><%= menu.name.upcase%></a></span> • 
      <% end %>
      <% if @active_menus.count > 0 %>
      <span id='<%=@active_menus.last.clean_name%>'><a><%= @active_menus.last.name.upcase %></a></span>
      <% end %>

      <!--  start of Restaurant Menu Categories -->
      <div class="menu-list tzfilter">
        <% @active_categories.each do |category| %>
        <a id="<%= category.clean_name + category.menu.clean_name %>" class="<%=category.menu.clean_name%> hidden animated category"><%= category.name %></a>
        <% end %>        
      </div><!--   End of Restaurant menu categories -->
    </div><!-- End of Restaurant menus -->



    <!-- start of Pictures of Food -->
    <div class="tzportfolio-pages tz-no-mansory row">
      <% @active_dishes.each do |dish| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 <%= dish.category.clean_name + dish.category.menu.clean_name %> <%= dish.category.menu.clean_name %> food-photos animated zoomIn">
        <div class="element">
          <div class="tz-inner">
            <div class="tz-image-item">
              <%= image_tag dish.avatar.url(:large) %>
            </div>
            <h6 class="dish-name"><%= dish.name.upcase %></h6>
            <!--  start of dish ingredients -->
            <div class="text-center ingredient">      
              <% dish.ingredients[0...-1].each do |ingredient| %>
              <%= ingredient.name.upcase %>,
              <% end %>

              <% if dish.ingredients.count > 0 %>  
              <%= dish.ingredients.last.name.upcase %>
              <% end %>
            </div><!--   end of dish ingredients -->
          </div> <!-- end of tz-inner -->
        </div> <!-- end of element -->
      </div> <!-- end of column -->
      <% end %><!-- end of active_dishes loop -->
    </div><!-- end of food pictures -->

  </div><!-- end of Container -->
</section><!--end class tzportfolio-wrap-->





<!-- Admin Panel -->
<% if current_user %>
  <% if current_user.admin || current_user.restaurant_id == @restaurant.id%>
    <div class="container-fluid">
      <div class="text-center">
        <hr>
        <% if notice %>
                <li class="alert alert-success"><%= notice %></li>
              <% end %>
              <% if alert %>
                <li class="alert alert-danger"><%= alert %></li>
              <% end %>
        <h1> Administrator Panel </h1>
        <h6>Signed in as <%= current_user.email %> (<%= link_to 'Sign Out', destroy_user_session_path %>)</h6>

        <hr>
        <div><%= link_to 'Edit Restaurant Details', edit_restaurant_path(@restaurant) %></div>
        <hr>
      </div>


      <ul class="nav nav-pills">
        <li><a href="#dishes" data-toggle="tab">Dishes</a></li>
        <li><a href="#categories" data-toggle="tab">Categories</a></li>
        <li><a href="#menus" data-toggle="tab">Menus</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="menus">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Active Menus</h3>
                </div>
                <% if @active_menus.count > 0 %>
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @active_menus.each do |menu| %>
                    <tr>
                      <td><%= menu.name %></td>
                      <td><%= link_to edit_menu_path(menu) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to menu, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Inactive Menus</h3>
                </div>
                <% if @inactive_menus.count > 0 %>
                <table class="table table-condensed">
                  <thead>
                    <tr class="active">
                      <th></th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inactive_menus.each do |menu| %>
                    <tr class="active">
                      <td><%= menu.name %></td>
                      <td><%= link_to edit_menu_path(menu) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to menu, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                  None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4 text-left">
              <%= render 'menus/form' %> 
            </div>
          </div>
        </div>
        <div class="tab-pane" id="categories">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Active Menu Categories</h3>
                </div>
                <% if @active_categories.count > 0 %>
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th> </th>
                      <th>Menu</th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @active_categories.each do |category| %>
                    <% if category.menu.restaurant.id == @restaurant.id %>
                    <tr>
                      <td><%= category.name %></td>
                      <td><%= category.menu.name %></td>
                      <td><%= link_to edit_category_path(category) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                  None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Inactive Menu Categories</h3>
                </div>
                <% if @inactive_categories.count > 0 %>
                <table class="table table-condensed">
                  <thead>
                    <tr class="active">
                      <th> </th>
                      <th>Menu</th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inactive_categories.each do |category| %>
                    <% if category.menu.restaurant.id == @restaurant.id %>
                    <tr class="active">
                      <td><%= category.name %></td>
                      <td><%= category.menu.name %></td>
                      <td><%= link_to edit_category_path(category) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                  None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4 text-left">
              <%= render 'categories/form' %>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="dishes">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Active Dishes</h3>
                </div>
                <% if @active_dishes.count > 0 %>
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th> </th>
                      <th>Menu</th>
                      <th>Category</th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @active_dishes.each do |dish| %>
                    <% if dish.category.menu.restaurant.id == @restaurant.id %>
                    <tr>
                      <td><%= dish.name %></td>
                      <td><%= dish.category.menu.name %></td>
                      <td><%= dish.category.name %></td>
                      <td><%= link_to edit_dish_path(dish) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to dish, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                  None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Inactive Dishes</h3>
                </div>
                <% if @inactive_dishes.count > 0 %>
                <table class="table table-condensed">
                  <thead>
                    <tr class="active">
                      <th> </th>
                      <th>Menu</th>
                      <th>Category</th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inactive_dishes.each do |dish| %>
                    <% if dish.category.menu.restaurant.id == @restaurant.id %>
                    <tr class="active">
                      <td><%= dish.name %></td>
                      <td><%= dish.category.menu.name %></td>
                      <td><%= dish.category.name %></td>
                      <td><%= link_to edit_dish_path(dish) do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <%end%>
                      </td>
                      <td><%= link_to dish, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <div class="panel-body">
                  None
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4 text-left">
              <%= render 'dishes/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!-- End of Admin Panel -->
<hr>



<script>
// Hides and Shows dishes and categories by Menu 
<% @restaurant.menus.each do |menu| %>
<% other_menus = Menu.where(restaurant_id: @restaurant.id).where.not(name: menu.name) %>
<% other_menus2 = Menu.where(restaurant_id: @restaurant.id).where.not(name: menu.name) %>

$(document).ready(function(){
  $('span#<%=menu.clean_name%>').click(function(){
    console.log('<%=menu.clean_name%> clicked');
    $('<%=restaurant_category_and_category_menu_names%>').removeClass('selected-category');
    $('span#<%=menu.clean_name%> a').addClass('selected-menu');
    $("<%= other_menus.map{|b| b.clean_name + ' a'}.map{|c| c.prepend('span#')}.join(', ')%>").removeClass('selected-menu');
    $('<%= other_menus2.map{|a| a.clean_name}.map{|a| a.prepend(".")}.join(", ") %>').addClass('zoomOutDown hidden');
    $('.<%=menu.clean_name%>').removeClass('zoomOutDown zoomOutUp zoomInDown zoomInUp hidden');
    $('.<%=menu.clean_name%>').addClass('zoomInDown');
  });
});
<% end %>

// Hides and shows dishes based on category
<% @restaurant.menus.each do |menu| %>
<% menu.categories.each do |category| %>
// restaurant_category_names can be found in restaurant helper
<% other_category_and_category_menu_names = restaurant_category_names.delete_if{|name| name==category.clean_name}.map{|a| a+category.menu.clean_name} %>
<% other_category_and_category_menu_names2 = restaurant_category_names.delete_if{|name| name==category.clean_name}.map{|a| a+category.menu.clean_name} %>
$(document).ready(function(){
  $('a#<%=category.clean_name + category.menu.clean_name%>').click(function(){
    console.log('<%=category.clean_name+category.menu.clean_name%> clicked');
    $(this).addClass('selected-category');
    $("<%=other_category_and_category_menu_names.map{|b| b.prepend('a#')}.join(', ')%>").removeClass('selected-category');
    $("<%=other_category_and_category_menu_names2.map{|a| a.prepend('.')}.join(', ')%>").addClass('zoomOutDown hidden');
    $('.<%=category.clean_name+category.menu.clean_name%>').removeClass('zoomOutDown zoomOutUp zoomInDown zoomInUp hidden');
    $('.<%=category.clean_name+category.menu.clean_name%>').addClass('zoomInUp');
  });
});
<% end %>
<% end %>

</script>