<%= form_for(@restaurant_header) do |f| %>
  <% if @restaurant_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_header.errors.count, "error") %> prohibited this restaurant_header from being saved:</h2>

      <ul>
      <% @restaurant_header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
