<h1>Listing restaurant_headers</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_headers.each do |restaurant_header| %>
      <tr>
        <td><%= restaurant_header.restaurant %></td>
        <td><%= link_to 'Show', restaurant_header %></td>
        <td><%= link_to 'Edit', edit_restaurant_header_path(restaurant_header) %></td>
        <td><%= link_to 'Destroy', restaurant_header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant header', new_restaurant_header_path %>
