<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%if @place %>
        New 
        <% else %>
        Editing 
        <% end %>
        Menu Category</h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="field col-md-12">
            <%= f.label :name, 'Category Name' %><br>
            <%= f.text_field :name, :class=>'form-control' %>
          </div>
        </div>
        <br>

        <div class="row">

          <div class="field col-md-5">
            <%= f.label :menu_id %><br>
            <%= f.select :menu_id, options_for_select(place_menu_options, default_menu_from_category_edit)%>
          </div>



          <div class="field col-md-5">
            <%= f.label :priority, "Course"%><br>
            <%= f.select :priority, [["First","1"],["Second","2"],["Third","3"],["Fourth","4"],["Fifth","5"],["Sixth","6"]] %>
          </div> 



          <div class="field col-md-2">
            <br>
            <%= f.label :hide%>
            <%= f.check_box :hide %>
          </div>
          
        </div>
          <br>
        <div class="row">
          <div class="actions col-md-12 text-center">
            <%= f.submit 'Submit', class: 'btn btn-primary btn-xs' %>
          </div> 
        </div>

      </div>
    </div>

    <div class="field">
      <%= f.hidden_field :place_id, value: category_menu_id_default_value %>
    </div>

<% end %>
 
