<div class="text-center">
  <h1><%= @category.name %></h1>
  <h5><%= @category.menu.restaurants.first.name %></h5>
  <hr>
  <% @categories.each do |category| %>
    <%= link_to category.name, category %> |
  <% end %>

  <hr>
  <%= link_to 'Back to Menu', @category.menu %> |
  <%= link_to 'Edit', edit_category_path(@category) %>
</div>
<hr>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="text-center">
        <h3> Dishes </h3>
        <% @dishes.each do |dish| %>
          <%= link_to dish do %>
            <div class="text-center">
            <%= dish.name %><br>
            <%= image_tag dish.avatar.url(:medium) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <h3> Add a Dish </h3>
        <%= render 'dishes/form' %>
      </div>
    </div>

  </div>
</div>


