<div class="container col-xs-12">
  <h1>
    Places
    <%= link_to 'Edit Home Page', edit_home_page_path(HomePage.last), class: 'btn btn-default right' %>
    <%= link_to 'See Lists', lists_path, class: 'btn btn-default right' %>
  </h1>
<h6>There are <%= @places.count %> Places currently registered</h6> 
<h6><%= @places.where(hide: true).count %> of those are currently hidden</h6> 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zone</th>
      <th># of Menus</th>
      <th># of Dishes</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.zone.downcase %></td>
        <td><%= place.menus.count %></td>
        <td><%= place.dishes.count %></td>
        <td><%= place.hide ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_place_path %>

</div>
