<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meme • Menu</title>

  <!-- Latest compiled and minified Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Google Font "Raleway" -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" >

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <!-- Latest compiled and minified Bootstrap JS-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  // <script type="text/javascript">
  //   var userAgent = window.navigator.userAgent;
  //   if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
  //     window.location = "/home/appstore.html"
  //   }
  // </script>

  <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png">
  
  <link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32">
  <%=favicon_link_tag 'favicon.ico' %>
</head>

<!-- GOOGLE ANALYTICS -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56668521-1', 'auto');
ga('send', 'pageview');

</script>
<!-- END GOOGLE ANALYTICS -->

<body class="home-meme">
  <header class="tz-header tz-header3">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- Brand and toggle get grouped. allows for better mobile display -->
            <!-- start of Mobile Dropdown button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> <!-- end of mobile dropdown button -->
            <h3 class="tz-logo pull-left">
              <%= link_to root_path do %>
              <%= image_tag "logo_100px_black.png", width: '110px;' %> <!-- Meme•Menu Logo -->
              <% end %>
            </h3>
          </div> <!-- end of class navbar-header -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-collapse">
              <li>
                <%= link_to 'HOME', root_path %>
              </li>
              <!-- Start of Miami Tab -->
              <li>
                <a href="#">MIAMI</a>
                <div class="nav-child dropdown-menu mega-dropdown-menu">
                  <div class="mega-dropdown-inner">
                    <div class="row">
                      <div data-width="12" class="col-md-12 mega-col-nav">
                        <div class="mega-inner">
                          <ul class="mega-nav level1">
                            <% miami_restaurant_dropdown_options.each do |restaurant| %>
                            <li>
                              <%= link_to restaurant.name, restaurant %>
                            </li>
                            <% end %>
                          </ul>
                        </div> <!-- end of class mega-inner -->
                      </div> <!-- end of class col-md-12 mega-col-nav -->
                    </div> <!-- end of row -->
                  </div> <!-- end of class mega-dropdown-inner -->
                </div> <!-- end of nav-child dropdown-menu mega-dropdown-menu -->
              </li> <!-- end of Miami tab -->
              
              <% if nola_restaurant_dropdown_options.count > 0 %>
              <!-- Start of NOLA tab -->
              <li>
                <a href="#">NEW ORLEANS</a>
                <div class="nav-child dropdown-menu mega-dropdown-menu">
                  <div class="mega-dropdown-inner">
                    <div class="row">
                      <div data-width="12" class="col-md-12 mega-col-nav">
                        <div class="mega-inner">
                          <ul class="mega-nav level1">
                            <% nola_restaurant_dropdown_options.each do |restaurant| %>
                            <li>
                              <%= link_to restaurant.name, restaurant %>
                            </li>
                            <% end %>
                          </ul>
                        </div> <!-- end of class mega-inner -->
                      </div> <!-- end of class col-md-12 mega-col-nav -->
                    </div> <!-- end of row -->
                  </div> <!-- end of class mega-dropdown-inner -->
                </div> <!-- end of nav-child dropdown-menu mega-dropdown-menu -->
              </li> <!-- end of NOLA tab -->
              <% end %>

              <li>
                <a href="http://meme-menu.tumblr.com" target="_blank">BLOG</a>
              </li>
              <li>
                <%= link_to 'ABOUT', home_about_path %>
              </li>
              <li>
                <%= link_to 'CONTACT', home_contact_path %>
              </li>
            </ul> <!-- closes class nav nav-collapse -->
          </div><!-- end of class collapse navbar-collapse navbar-right -->
        </div><!-- end of class container-fluid -->
      </nav> <!-- closes class navbar navbar-default -->
    </div><!--end class container-->
  </header><!--end class tz-header-->

  <%= yield %>

</body> <!-- closes class home-meme -->
</html>
